name: Simple Pipeline
on:
 workflow_dispatch:
jobs:
  buildthis:
    runs-on: ubuntu-latest
    name: install node js
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1

    - name: Setup Node.js environment
      uses: actions/setup-node@v6.1.0

    
